# Hugo
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Temporary
*.log
*.tmp
public/

# Private/Draft posts directory (optional)
private/

# Node modules
node_modules/
package-lock.json
